/**
 * Jlm SRL
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://www.ider.com/IDER-LICENSE-COMMUNITY.txt
 *
 ********************************************************************
 * @category   Jlmsrl
 * @package    Jlmsrl_Iderlogin
 * @author Davide Lattanzio <davide.lattanzio@jlm.srl>
 * @copyright  Copyright (c) 2016 - 2017 Jlm SRL (http://www.jlm.srl)
 * @license    https://www.ider.com/IDER-LICENSE-COMMUNITY.txt
 */

.ider-login-button {
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799!important;
    border-color: #0073aa #006799 #006799!important;
    box-shadow: 0 1px 0 #006799!important;
    background-image: url(../images/ider_logo_white_256.png);
    background-size: 50px;
    background-repeat: no-repeat;
    height: 50px;
    width: 195px;
    text-align: right;
    border-radius: 7px!important;
    background-color: #008ec2!important;
    color: #fff!important;
    margin: 5px 5px 10px 0;
    border: none;
    padding: 15px 24px;
    text-transform: uppercase;
}

.ider-login-button:hover {
    background-image: url('../images/ider_logo_white_256.png');
    background-color: #008ec2!important;
    border-color: #006799!important;
    color: #fff!important;
}
